<%- include('header') %>

<div class="mdui-container-fluid">
  <div class="mdui-container mdui-center" style="margin: 2em; max-width: 1664px">
    <div class="mdui-container mdui-card">
      <div class="mdui-typo-display-1 mdui-text-center" style="margin-top: 1em;">
        <%- problem.name %>
      </div>
      <div class="mdui-container mdui-card-content">
        <hr>
        <div id="problem-content"></div>
      </div>
    </div>
  </div>
  <button id="submit-button" class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-theme-accent"
    <% if (status != ENUMS.problem.fresh) { %>
      disabled
    <% } %>
  >
    <i class="mdui-icon material-icons">send</i>
  </button>
  <input id="submit-dummy" class="mdui-hidden" type="file" multiple/>
</div>

<script>
  var description_url = "/api/problem_content/<%= problem.id %>";
  $.get(description_url, function(data) {
    if (data.success) {
      var md = marked.parse(data.data);
      $("#problem-content").html(md);
      rerender();
    } else {
      $("#problem-content").html(data.message);
    }
  });
  $("#submit-button").click(function() {
    $("#submit-dummy").click();
  });
  $("#submit-dummy").change(function() {
    var formData = new FormData();
    for(var file of $("#submit-dummy")[0].files) {
      formData.append("files", file);
    }
    $.ajax({
      url: "/api/upload/<%= problem.id %>",
      type: "POST",
      data: formData,
      processData: false,
      contentType: false,
      success: function(data) {
        if (data.success) {
          mdui.snackbar({
            message: data.message,
            timeout: 2000,
          });
          setTimeout(function() {
            window.location.reload();
          }, 2000);
        } else {
          mdui.snackbar({
            message: data.message,
            timeout: 5000,
          });
        }
      },
    });
  });
</script>
<%- include('footer') %>
</div>