<%- include('header') %>

<div class="mdui-container-fluid">
  <div class="mdui-container mdui-center cg-default-margin">
    <div class="mdui-card cg-problem-list">
      <ul class="mdui-list">
        <% for(i in chapter.problems) { %>
        <li class="mdui-list-item mdui-ripple">
          <a href="<%= chapter.problemStatus[i] == ENUMS.problem.locked ? 'javascript:locked_problem();' : `/gym/${chapter.group}/${chapter.chapter}/${i}` %>" class="mdui-btn mdui-btn-block"
			<%= chapter.problemStatus[i] == ENUMS.problem.locked ? 'disabled' : '' %>
		  >
            <% if (chapter.problemStatus[i] == ENUMS.problem.solved) { %>
              <i class="mdui-icon material-icons">check</i>
            <% } else if(chapter.problemStatus[i] == ENUMS.problem.fresh) { %>
              <i class="mdui-icon material-icons">schedule</i>
            <% } else if(chapter.problemStatus[i] == ENUMS.problem.requesting_resubmit) { %>
              <i class="mdui-icon material-icons">autorenew</i>
            <% } else { %>
              <i class="mdui-icon material-icons">lock</i>
            <% } %>
            <%= chapter.problems[i].name %>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<%- include('footer') %>